* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fdf8dd;
}

.header .logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px 30px 20px 0;
}

.header nav {
  display: inline-block;
  vertical-align: middle;
}

.header nav a {
  text-decoration: none;
  color: #333;
  font-size: bold;
  margin-right: 15px;
  font-size: 18px;
  font-weight: 600;
}
